<form class="container" [formGroup]="beerForm" (ngSubmit)="addBeer(beerForm.value)">
  <div>
    <h3>Adicionar Nova Cerveja</h3>
  </div>

  <input class="uk-input" name="name" placeholder="Nome da Cerveja" formControlName="name"><br><br>
  <textarea class="uk-textarea" name="description" placeholder="Descrição da Cerveja" formControlName="description"></textarea>
  <br><br>
  <button class="uk-button uk-button-primary uk-button-small" type="submit" [disabled]="!beerForm.valid">Adicionar</button>

</form>